[Unit]
Description="Run automatic backups of system critical Git repos (dotfiles/vaults/other-configs) periodically."
Wants=autoBackup.timer

[Service]
; ExecStart=/home/mohitdmak/dotfiles/scripts/auto_backup.sh
ExecStart=/home/arch/legacy_dotfiles/scripts/auto_backup.sh

[Install]
WantedBy=multi-user.target
