# This timer unit is for testing
# By David Both
# Licensed under GPL V2
#

[Unit]
Description=Timer to manage periodic backup of system critical git repos.
Requires=autoBackup.service

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
#Run 120 seconds after boot for the first time
OnBootSec=120
Unit=autoBackup.service
# run every day
OnCalendar=*-*-* 00:00:00
; OnCalendar=*-*-* *:*:00 # every minute (DEBUG MODE)

[Install]
WantedBy=timers.target
