snippet img "Markdown img, for acads note mostly" b
![](./assets/$0.png)

endsnippet

snippet bb "Bold" 
**$0**
endsnippet

snippet ii "Italic" 
*$0*
endsnippet

snippet bibi "Bold Italic" 
***$0***
endsnippet

snippet bb "Strikethrough" 
~~$0~~
endsnippet

snippet hh "Highlight" 
\`$0\`
endsnippet
